<h1>Podcasts#show</h1>
<p>Find me in app/views/podcasts/show.html.erb</p>

<h1>Transcription Result</h1>

<p><%= @transcription %></p>

<%= link_to 'Upload another file', new_podcast_path, class: "btn btn-secondary" %>
